* {
	vertical-align: middle;
	box-sizing: border-box
}
.stats label, h2 {
	color: #a0a0a0
}
h1, header {
	text-align: center
}
h1 {
	font-size: 110%
}
h2 {
	font-size: 80%;
	margin: 0;
	font-weight: 400
}
.separator {
	margin-bottom: 1em
}
.role {
	margin: 0 4px 0 -4px;
	width: 14px;
	height: 14px
}
.location {
	height: 12px;
	margin-right: 8px;
	box-shadow: 1px 1px 0 #080808;
	border-radius: 2px
}
.global-role, .role {
	font-size: 75%
}
.global-role::before {
	content: "("
}
.global-role::after {
	content: ")"
}
button {
	border: 0;
	padding: 10px 20px;
	background-color: #2b2b2b;
	color: #e0e0e0;
	cursor: pointer;
	border-radius: 2px
}
button: active {
	background-color: #757575
}
.name > a {
	color: inherit;
	text-decoration: none
}
body {
	background-color: #202020;
	color: #e0e0e0;
	font-family: sans-serif
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column
}
ol > li {
	position: relative;
	border-bottom: 1px solid #1a1a1a
}
ol > li::before {
	content: "";
	display: inline-block;
	height: 16px;
	width: 16px;
	background-size: 16px 16px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: -40px
}
ol li:nth-of-type(1)::before {
	background-image: url(https://www.speedrun.com/static/theme/pr64gl89/1st.png)
}
ol li:nth-of-type(2)::before {
	background-image: url(https://www.speedrun.com/static/theme/pr64gl89/2nd.png)
}
ol li:nth-of-type(3)::before {
	background-image: url(https://www.speedrun.com/static/theme/pr64gl89/3rd.png)
}
ol li:nth-of-type(4)::before {
	background-image: url(https://www.speedrun.com/static/theme/pr64gl89/4th.png)
}
ol .name {
	font-weight: 700;
	text-shadow: 0 -1px #000, 1px -1px #000, 1px 0 #000, 1px 1px #000, 0 1px #000, -1px 1px #000, -1px 0 #000, -1px -1px #000
}
ol .score::after {
	content: " points";
	color: #a0a0a0
}
ol .score[data-singular]::after {
	content: " point"
}
ol > li span+span {
	margin-left: 16px
}
ol .place-1 {
	color: #c8953b
}
ol .place-2 {
	color: #90949c
}
ol .place-3 {
	color: #e39775
}
ol .place-4 {
	color: #4a92c0
}
#status {
	list-style: none;
	padding: 0;
	margin: 20px 0 0
}
#status > .pending {
	color: #ababab
}
#status > .done {
	color: #4fb143
}
#status > .error {
	color: #b14343
}
#ranks > li {
	text-shadow: 1px 1px #080808
}

#loading {
	display: flex;
	position: relative;
	--size: 2rem;
	width: var(--size);
	height: var(--size);
}
#loading[hidden] {
	display: none;
}
#loading::before,
#loading::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: var(--size);
	height: var(--size);
	border: calc(var(--size) / 7) solid rgb(255, 255, 255, .2);
	border-radius: 50%;
}
#loading::after {
	clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 20.00%);
	animation: spinner 1.2s linear infinite;
	border: calc(var(--size) / 7) solid #ffffff;
}
@keyframes spinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}